ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bacec1;
    height: 70px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #072A40;
    font-size: 20px;
    padding: 25px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #072A40;
    color: aliceblue;
}

.active {
    background-color: #072A40;
    color: aliceblue;
    border-radius: 10px;

}

.b2 {
    margin-top: 80px;
    width: 350px;
    height: 350px;
    margin-left: 100px;
    border: 3px solid black;
    border-radius: 10px;
}

.b1 h2 {
    margin-left: 30px;
    color: #68020F;
}

.b1 button {
    margin-left: 30px;
    float: right;
    margin-right: 20px;
    height: 45px;
    width: 190px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #B3DEE5;
    border: 3px solid #31525B;
    color: rgb(255, 0, 183);
}

body {
    background-image: url("sea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.image2 a,
.image3 a {
    position: relative;
    padding-left: 90px;
    transition: 0.4s;
    transition-property: transform;
    margin-top: 80px;
    border-radius: 10px;
}

.image2 a:hover,
.image3 a:hover {
    transform: scale(1.1);
}

.image2,
.image3 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    align-content: space-between;

}